{{ "<!-- deployment block -->"  | safeHTML}}

<section id="deployment">
    <div class="container">
        <div class="intro-text">
            <h3>AI Application Development and Deployment <span class="select">Workflow</span></h3>
            <div class="d-flex flex-row justify-content-between">
                <div class="item">Data Acquuisition and Processing</div>
                <div class="item">Model Design</div>
                <div class="item">Model Training</div>
                <div class="item">Evaluation </div>
                <div class="item">Integration</div>
                <div class="item">Deployment</div>
                <div class="item">Monitoring</div>
            </div>
            <div class="space"></div>
            <div class="d-flex flex-row justify-content-between">
                <div class="item">
                    <p>Conectors to multiple data sources</p>
                    <p>NFS storage</p>
                    <p>Support of popular data managment tools</p>
                </div>
                <div class="item">
                    <p>Integration with data science IDEs and libraries</p>
                    <p>Support of all major ML frameworks</p>
                    <p>Enterprise template catalogue</p>
                    <p>Collaboration workspace</p>
                </div>
                <div class="item">
                    <p>Distrubuled training</p>
                    <p>Optimazed for h/w accelerators</p>
                    <p>Resource/job scheduling</p>
                    <p>infrastructure monitoring</p>
                </div>
                <div class="item">
                    <p>Detalied metrics dashboard</p>
                    <p>Model versioning</p>
                    <p>Model benchmarking</p>
                </div>
                <div class="item">
                    <p>One-click serving</p>
                    <p>integration with existing CI/CD process</p>
                </div>
                <div class="item">
                    <p>Support of mul mobile, embedded)</p>
                </div>
                <div class="item">
                    <p>Collecting performance metrics on live data</p>
                    <p>Triggering model retraining based on schedule/ events</p>
                </div>
            </div>
            <div class="space"></div>
            <div class="babel d-flex flex-row justify-content-between">
                <ul>
                    <li>Full support of hybrid cloud</li>
                    <li>Access polices</li>
                </ul>
                <ul>
                    <li>Resource/application orchesration</li>
                    <li>LDAP integration</li>
                </ul>
                <ul>
                    <li>Built-in workflow engine</li>
                    <li>Private repository</li>
                </ul>
            </div>
        </div>
    </div>
</section>

